.room {
  display: block;
  text-decoration: none;
  margin-bottom: 40px;
  margin-top: 40px;
}

.room.is-thumbnail {
  margin: 21px 10px 10px;
}

.room:hover {
  text-decoration: none;
}

.coverPicture {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
  background-size: cover;
}

.coverPicture img {
  display: block;
  width: 100%;
  height: 100%;
}

.roomAttributes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.roomName {
  background-color: rgb(28, 43, 74);
  text-transform: uppercase;
  flex: 1 100%;
  margin: 5px 0;
  color: white;
  text-align: center;
  padding: 3px;
  font-size: 14px;
}

.availability {
  flex: 7;
  margin-right: 5px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  padding: 3px;
  padding-left: 25px;
  background: no-repeat 5px center;
  background-size: 14px 14px;
}

.notAvailable {
  background-color: rgb(237, 28, 35);
  background-image: url('/assets/search/Picto bandeau rouge.png');
}

.available {
  background-color: rgb(35, 176, 76);
  background-image: url('/assets/search/Picto bandeau vert.png');
}

.availableSoon {
  background-color: rgb(255, 124, 19);
  background-image: url('/assets/search/Picto bandeau orange.png');
}

.price {
  flex: 3;
  background-color: rgb(127, 127, 127);
  color: white;
  font-size: 12px;
  padding: 3px;
  text-align: center;
}

.isNew {
  flex: 2;
  background-color: rgb(127, 127, 127);
  padding: 3px;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-right: 5px;
}

.roomAttributesIcons {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 5px;
  line-height: 30px;
}

.roomAttributesIcon {
  padding-left: 23px;
  background: no-repeat left center;
  background-size: 16px;
  color: grey;
  font-size: 11px;
}

.chambersCount {
  background-image: url("/assets/search/Picto description 1.png");
}

.roomsCount {
  background-image: url("/assets/search/Picto description 2.png");
}

.roomBedText {
  padding-left: 0;
}

.roomBedIcon {
  position: relative;
  top: 5px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.roomSize {
  background-image: url("/assets/search/Picto description 3.png");
}
