.viewport {
  margin-top: 130px;
}

.mobileShow, .mobileHide {
  @media screen and (max-width: 990px) {
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
  }
}

.mobileHide {
  @media screen and (max-width: 990px) {
    z-index: 2;
  }
}

.mobileShow {
  @media screen and (max-width: 990px) {
    z-index: 199;
  }
}


.mapPane {
  width: 35%;
  right: 0;
  position: fixed;
  height: calc(100vh - 130px);

  @media screen and (max-width: 990px) {
    width: 100%;
    position: static;
  }

}

.leftPane {
  width: 60%;
  margin-left: 20px;
  background: #FAFAFA;

  @media screen and (max-width: 990px) {
    padding: 10px 10% 50px 10%;
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: scroll;
  }
}

.searchEngineAndAlerts {
  padding: 10px 0 20px;
  border-bottom: 2px solid lightgrey;
  display: flex;
  justify-content: space-between;


  @media screen and (max-width: 1150px) {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}


.switchMapList {
  position: fixed;
  width: 120px;
  left: calc(50% - 60px);
  bottom: 30px;
  background: white;
  border-radius: 10px;
  height: 25px;
  line-height: 25px;
  z-index: 20000;
  font-family: 'Lato', sans-serif;
  padding: 0 10px 0 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-variant: small-caps;
  display: flex;
  box-shadow: 2px 2px 2px grey;
  background: #1C2B4A;
  color: white;
  cursor: pointer;
  font-weight: lighter;

  & span:nth-child(2) {
    border-left: 1px solid white;
  }

  & span {
    display: block;
    width: 50%;
    text-align: center;
  }

  @media screen and (min-width: 991px) {
    display: none;
  }
}

.selected {
  font-weight: bolder;
  text-decoration: underline;
}
