@value colorTextSecondary, largerThanXsViewport, largerThanXxsViewport from "../../../style/variables.css";

.cell {
  padding: 0;
}

.sublist {
  margin-top: 1rem;
  width: 100%;
}

.valueCell {
  composes: cell;
  width: 4rem;
  text-align: center;
}

.valueCellHeader {
  composes: valueCell;
  font-size: 0.8rem;
}

.featureCell {
  composes: cell;
}

.colorBasic {
  color: var(--color-pack-basic);
}
.colorComfort {
  color: var(--color-pack-comfort);
}
.colorPrivilege {
  color: var(--color-pack-privilege);
}

.valueText {
  font-size: 0.6rem;
}

.button {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.featureDetails {
  display: none;
  font-size: 0.8rem;
  color: colorTextSecondary;
}

@media largerThanXxsViewport {
  .button {
    max-width: 250px;
  }
}

@media largerThanXsViewport {
  .button {
    max-width: none;
  }

  .featureDetails {
    display: inline;
  }
}
