.searchEngine {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px 50px;
  color: white;
}

.searchEngine h2 {
  color: white;
  font-weight: bolder;
}

.subtitle {
  font-family: 'Lato', sans-serif;
}

.form {
  margin-top: 20px;
  display: flex;
  background: white;

  @media screen and (max-width: 990px) {
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
  }
}

.form.small {
  max-width: 500px;
}

.form > div {
  flex: 1 1 150px;
  @media screen and (max-width: 990px) {
    flex: 0 1 100%;
  }
}


.form div[data-react-toolbox=dropdown] ul li {
  color: black;
}

.form > div {
  position: relative;
}

.form > div > img {
  height: 30px;
  position: absolute;
  top: 4px;
  left: 10px;
}
.form > div > i {
  position: absolute;
  top: 4px;
  left: 10px;
  height: 30px;
  width: 30px;
  font-size: 2rem;
  color: #BBB;
}

.form div[data-react-toolbox=input]{
  padding: 0 10px;
  border-left: 1px solid lightgrey;

  @media screen and (max-width: 990px) {
    border-left: 0;
  }
}

.form > div:first-child div[data-react-toolbox=input] {
  border-left: 0;
}

.form div[data-react-toolbox=input] input {
  border: 0;
  height: 40px;
  padding-left: 40px;
}

.form div[data-react-toolbox=input] label {
  top: 13px;
  left: 50px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: grey;
}

.form button {
  background-color: #1c2b4a !important;
  color: white !important;
  height: 40px;

  @media screen and (max-width: 990px) {
    width: 100%;
    border-radius: 0 0 0 0;
  }
}

.noSubmit {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  flex-direction: row-reverse;
}

.form [class*="errored__"] label {
  color: rgb(222, 50, 38) !important;
  font-weight: bold;
}
