.header {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	width: 100%;
	padding: 0;
	background: var(--color-primary);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 200;
  transition: opacity 300ms ease-in;
}

.headerMultiLine {
  height: 130px;
}

.headerNotFixed {
  position: absolute;
}

.header .wrapper {
	width: 100%;
	margin: 0 auto;
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 80px;
	font-weight: 400;
	color: #FFF;
}

.appBar {
  height: var(--header-height);
  color: white;
  background-color: var(--color-primary);
}

.appBar img {
  height: calc(var(--header-height) - 4px);
  /* For come reason the image overflows the header without that correction */

}

.horizontal > [data-react-toolbox="link"],
.horizontal > a {
  color: #DDD;
  opacity: 1;
  margin: 0 10px;
  cursor: pointer;
}

.logoLite {
  padding: 7px;
  padding-left: 10px;
}

.headerLeftPart {
  flex: 1;
}

.headerOptionalPart {
  width: 500px;
}

.headerOptionalPart > div {
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;

}

.showAdditionalPart {
  opacity: 1 !important;
  pointer-events: all;
}

.headerHidden {
  opacity: 0;
}

.mobileLeftPart {
  cursor: pointer;
}

.drawerWrapper {
  z-index: 2000000; /* Crisp z-index is 10^6... */
}

.searchLine {
  left: 0;
  top: 60px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 201;
  margin-left: 115px;
}

.searchLine > div {
  width: 410px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.searchLine form {
  margin-top: 0 !important;
}

.searchLine a[data-react-toolbox="button"] {
  margin-top: 0;
}

@media screen and (max-width: 550px) {
  .searchLine > div {
    width: calc(100% - 115px);
  }
}
