@import url('shoelace-css/source/css/normalize.css');
@import url('shoelace-css/source/css/variables.css');
@import url('shoelace-css/source/css/content.css');
@import url('shoelace-css/source/css/tables.css');
@import url('shoelace-css/source/css/utilities.css');
@import url('./grillade.css');

:root {
  --header-height: 80px;
  --font-sans-serif: 'Open Sans';
  --headings-font-family: var(--font-sans-serif);
}

html, body, #app {
	height: 100%;
	background: #FAFAFA;
	color: #222;
}

body {
  overflow-y: scroll;
}

.content {
	padding: calc(var(--header-height) + 20px) 10px 40px;
	min-height: 100%;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

h1 {
  margin-bottom: 3rem;
}
section {
  margin-bottom: 4rem;
}
