@import url('shoelace-css/source/css/normalize.css');
@import url('shoelace-css/source/css/variables.css');
@import url('shoelace-css/source/css/content.css');
@import url('shoelace-css/source/css/tables.css');
@import url('shoelace-css/source/css/utilities.css');
@import url('./grillade.css');
@import url('../components/Carousel/style.scss');
@import url('./pictos.css');

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

html,
body,
#app {
  height: 100%;
  background: var(--color-background);
  font-family: var(--preferred-font);
  color: var(--color-text);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

#app > header + div {
  margin-top: calc(var(--header-height) + 0px);
  min-height: 100vh;
}
#app > header + .content {
  margin-top: calc(var(--header-height) + 20px);
}
header + footer {
  margin-top: 100vh !important;
}

.content {
  padding: 0 10px;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.content-wide {
  max-width: 1280px;
}

.handleError {
  text-align: center;
  color: rgb(222, 50, 38);
}

h1 {
  margin-bottom: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  margin: 3rem 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3, h4, h5, h6 {
  font-family: var(--preferred-font);
}

section {
  margin-bottom: 4rem;
}

[class^="grid-"] > dd {
  margin-bottom: 0;
}

.text-small .material-icons {
  font-size: 120% !important;
  vertical-align: -2px;
}

/* Leaflet specific classes */
.map-rooms-cluster {
  & img {
    width: 100%;
    height: 100%;
  }

  & div:after {
    content: attr(data-count);
    display: block;
    width: 100%;
    margin-top: -38px;

    color: white;
    font-size: 15px;
    text-align: center;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
}

.leaflet-popup-content {
  width: 250px !important;
  margin: 0 !important;
}

.leaflet-top,
.leaflet-bottom,
.leaflet-control {
  z-index: 100 !important;
}


.single-map .leaflet-pane {
  z-index: 20;
}

.single-map .leaflet-top {
  z-index: 21 !important;
}

.leaflet-marker-pane {
  position: relative !important;
  top: -27px !important;
}

.icon-24 {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.slideshow-full {
  height: calc(100vh);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
}

.slideshow-full:before {
  content: 'X';
  font-weight: bold;
  pointer-events: none;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.carousel-arrows {
  color: white;
  font-weight: bold;
  text-shadow: 2px 1px 2px #888;
}

.slideshow-full .carousel {
  background: rgba(0, 0, 0, 0.5);
}

.notfound-content {
  padding: 50px 0 0 0;
  text-align: center;
  min-height: 70vh !important;
}

.wp-content {
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.wp-content h1 {
  text-align: center;
}

ul li a.scroll-spy-active {
  font-weight: bolder;
}

.carousel-curr:before {
  position: relative;
  display: inline-block;
  content: attr(title);
  top: 20px;
  left: 20px;
  background: var(--color-primary);
  color: white;
  border-radius: 20px;
  font-size: 0.7rem;
  padding: 3px 8px;
}

/* WORDPRESS CSS INTEGRATION */

img.alignleft {
  display: inline;
  float: left;
  margin-right: 15px;
}
