@import url('shoelace-css/source/css/normalize.css');
@import url('shoelace-css/source/css/variables.css');
@import url('shoelace-css/source/css/content.css');
@import url('shoelace-css/source/css/tables.css');
@import url('shoelace-css/source/css/utilities.css');
@import url('./grillade.css');
@import url('../components/Carousel/style.scss');
@import url('./pictos.css');

[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

html,
body,
#app {
  height: 100%;
  background: var(--color-background);
  font-family: var(--preferred-font);
  color: var(--color-text);
}

body {
  overflow-y: scroll;
}

header + * {
  margin-top: var(--header-height);
}
header + .content {
  margin-top: calc(var(--header-height) + 20px);
}

.content {
  padding: 0 10px;
  min-height: 100%;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.content-wide {
  max-width: 1280px;
}

.handleError {
  text-align: center;
  color: rgb(222, 50, 38);
}

h1 {
  margin-bottom: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
  margin: 3rem 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

h3, h4, h5, h6 {
  font-family: var(--preferred-font);
}

section {
  margin-bottom: 4rem;
}

[class^="grid-"] > dd {
  margin-bottom: 0;
}

/* Leaflet specific classes */
.map-rooms-cluster {
  & img {
    width: 100%;
    height: 100%;
  }

  & div:after {
    content: attr(data-count);
    display: block;
    width: 100%;
    margin-top: -38px;

    color: white;
    font-size: 15px;
    text-align: center;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0 !important;
}

.leaflet-popup-content {
  width: 250px !important;
  margin: 0 !important;
}


.single-map .leaflet-pane {
  z-index: 20;
}

.single-map .leaflet-top {
  z-index: 21 !important;
}



.icon-32 {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon-24 {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.slideshow-full {
  height: calc(100vh);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: relative;
}

.slideshow-full:before {
  content: 'X';
  font-weight: bold;
  pointer-events: none;
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
}

.carousel-arrows {
  top: 80px;
}

.slideshow-full .carousel {
  background: rgba(0, 0, 0, 0.5);
}