.picto-bouton_visite {
    background-image: url(../assets/rooms/bouton_visite.png);
}

.picto-bouton_visite_16px {
    background-image: url(../assets/rooms/bouton_visite_16px.png);
}

.picto-bouton_visite_64px {
    background-image: url(../assets/rooms/bouton_visite_64px.png);
}

.picto-colocataire_disponible {
    background-image: url(../assets/rooms/colocataire_disponible.png);
}

.picto-colocataire_disponible_16px {
    background-image: url(../assets/rooms/colocataire_disponible_16px.png);
}

.picto-colocataire_disponible_256px {
    background-image: url(../assets/rooms/colocataire_disponible_256px.png);
}

.picto-colocataire_disponible_64px {
    background-image: url(../assets/rooms/colocataire_disponible_64px.png);
}

.picto-colocataire_femme_1 {
    background-image: url(../assets/rooms/colocataire_femme_1.png);
}

.picto-colocataire_femme_1_16px {
    background-image: url(../assets/rooms/colocataire_femme_1_16px.png);
}

.picto-colocataire_femme_1_256px {
    background-image: url(../assets/rooms/colocataire_femme_1_256px.png);
}

.picto-colocataire_femme_1_64px {
    background-image: url(../assets/rooms/colocataire_femme_1_64px.png);
}

.picto-colocataire_femme_2 {
    background-image: url(../assets/rooms/colocataire_femme_2.png);
}

.picto-colocataire_femme_2_16px {
    background-image: url(../assets/rooms/colocataire_femme_2_16px.png);
}

.picto-colocataire_femme_2_256px {
    background-image: url(../assets/rooms/colocataire_femme_2_256px.png);
}

.picto-colocataire_femme_2_64px {
    background-image: url(../assets/rooms/colocataire_femme_2_64px.png);
}

.picto-colocataire_femme_3 {
    background-image: url(../assets/rooms/colocataire_femme_3.png);
}

.picto-colocataire_femme_3_16px {
    background-image: url(../assets/rooms/colocataire_femme_3_16px.png);
}

.picto-colocataire_femme_3_256px {
    background-image: url(../assets/rooms/colocataire_femme_3_256px.png);
}

.picto-colocataire_femme_3_64px {
    background-image: url(../assets/rooms/colocataire_femme_3_64px.png);
}

.picto-colocataire_femme_4 {
    background-image: url(../assets/rooms/colocataire_femme_4.png);
}

.picto-colocataire_femme_4_16px {
    background-image: url(../assets/rooms/colocataire_femme_4_16px.png);
}

.picto-colocataire_femme_4_256px {
    background-image: url(../assets/rooms/colocataire_femme_4_256px.png);
}

.picto-colocataire_femme_4_64px {
    background-image: url(../assets/rooms/colocataire_femme_4_64px.png);
}

.picto-colocataire_femme_5 {
    background-image: url(../assets/rooms/colocataire_femme_5.png);
}

.picto-colocataire_femme_5_16px {
    background-image: url(../assets/rooms/colocataire_femme_5_16px.png);
}

.picto-colocataire_femme_5_256px {
    background-image: url(../assets/rooms/colocataire_femme_5_256px.png);
}

.picto-colocataire_femme_5_64px {
    background-image: url(../assets/rooms/colocataire_femme_5_64px.png);
}

.picto-colocataire_homme_1 {
    background-image: url(../assets/rooms/colocataire_homme_1.png);
}

.picto-colocataire_homme_1_16px {
    background-image: url(../assets/rooms/colocataire_homme_1_16px.png);
}

.picto-colocataire_homme_1_256px {
    background-image: url(../assets/rooms/colocataire_homme_1_256px.png);
}

.picto-colocataire_homme_1_64px {
    background-image: url(../assets/rooms/colocataire_homme_1_64px.png);
}

.picto-colocataire_homme_2 {
    background-image: url(../assets/rooms/colocataire_homme_2.png);
}

.picto-colocataire_homme_2_16px {
    background-image: url(../assets/rooms/colocataire_homme_2_16px.png);
}

.picto-colocataire_homme_2_256px {
    background-image: url(../assets/rooms/colocataire_homme_2_256px.png);
}

.picto-colocataire_homme_2_64px {
    background-image: url(../assets/rooms/colocataire_homme_2_64px.png);
}

.picto-colocataire_homme_3 {
    background-image: url(../assets/rooms/colocataire_homme_3.png);
}

.picto-colocataire_homme_3_16px {
    background-image: url(../assets/rooms/colocataire_homme_3_16px.png);
}

.picto-colocataire_homme_3_256px {
    background-image: url(../assets/rooms/colocataire_homme_3_256px.png);
}

.picto-colocataire_homme_3_64px {
    background-image: url(../assets/rooms/colocataire_homme_3_64px.png);
}

.picto-colocataire_homme_4 {
    background-image: url(../assets/rooms/colocataire_homme_4.png);
}

.picto-colocataire_homme_4_16px {
    background-image: url(../assets/rooms/colocataire_homme_4_16px.png);
}

.picto-colocataire_homme_4_256px {
    background-image: url(../assets/rooms/colocataire_homme_4_256px.png);
}

.picto-colocataire_homme_4_64px {
    background-image: url(../assets/rooms/colocataire_homme_4_64px.png);
}

.picto-colocataire_homme_5 {
    background-image: url(../assets/rooms/colocataire_homme_5.png);
}

.picto-colocataire_homme_5_16px {
    background-image: url(../assets/rooms/colocataire_homme_5_16px.png);
}

.picto-colocataire_homme_5_256px {
    background-image: url(../assets/rooms/colocataire_homme_5_256px.png);
}

.picto-colocataire_homme_5_64px {
    background-image: url(../assets/rooms/colocataire_homme_5_64px.png);
}

.picto-description_surface {
    background-image: url(../assets/rooms/description_surface.png);
}

.picto-description_surface_16px {
    background-image: url(../assets/rooms/description_surface_16px.png);
}

.picto-description_surface_64px {
    background-image: url(../assets/rooms/description_surface_64px.png);
}

.picto-elevator {
    background-image: url(../assets/rooms/elevator.png);
}

.picto-elevator_16px {
    background-image: url(../assets/rooms/elevator_16px.png);
}

.picto-elevator_64px {
    background-image: url(../assets/rooms/elevator_64px.png);
}

.picto-equipement_chambre_balcon {
    background-image: url(../assets/rooms/equipement_chambre_balcon.png);
}

.picto-equipement_chambre_balcon_16px {
    background-image: url(../assets/rooms/equipement_chambre_balcon_16px.png);
}

.picto-equipement_chambre_balcon_64px {
    background-image: url(../assets/rooms/equipement_chambre_balcon_64px.png);
}

.picto-equipement_chambre_bibliotheque {
    background-image: url(../assets/rooms/equipement_chambre_bibliotheque.png);
}

.picto-equipement_chambre_bibliotheque_16px {
    background-image: url(../assets/rooms/equipement_chambre_bibliotheque_16px.png);
}

.picto-equipement_chambre_bibliotheque_64px {
    background-image: url(../assets/rooms/equipement_chambre_bibliotheque_64px.png);
}

.picto-equipement_chambre_bureau {
    background-image: url(../assets/rooms/equipement_chambre_bureau.png);
}

.picto-equipement_chambre_bureau_16px {
    background-image: url(../assets/rooms/equipement_chambre_bureau_16px.png);
}

.picto-equipement_chambre_bureau_64px {
    background-image: url(../assets/rooms/equipement_chambre_bureau_64px.png);
}

.picto-equipement_chambre_bureau_et_chaise {
    background-image: url(../assets/rooms/equipement_chambre_bureau_et_chaise.png);
}

.picto-equipement_chambre_canape_ou_canapelit {
    background-image: url(../assets/rooms/equipement_chambre_canape_ou_canapelit.png);
}

.picto-equipement_chambre_canape_ou_canapelit_16px {
    background-image: url(../assets/rooms/equipement_chambre_canape_ou_canapelit_16px.png);
}

.picto-equipement_chambre_canape_ou_canapelit_64px {
    background-image: url(../assets/rooms/equipement_chambre_canape_ou_canapelit_64px.png);
}

.picto-equipement_chambre_chauffage {
    background-image: url(../assets/rooms/equipement_chambre_chauffage.png);
}

.picto-equipement_chambre_cintres {
    background-image: url(../assets/rooms/equipement_chambre_cintres.png);
}

.picto-equipement_chambre_cintres_16px {
    background-image: url(../assets/rooms/equipement_chambre_cintres_16px.png);
}

.picto-equipement_chambre_cintres_64px {
    background-image: url(../assets/rooms/equipement_chambre_cintres_64px.png);
}

.picto-equipement_chambre_couette_et_oreiller {
    background-image: url(../assets/rooms/equipement_chambre_couette_et_oreiller.png);
}

.picto-equipement_chambre_couette_et_oreiller_16px {
    background-image: url(../assets/rooms/equipement_chambre_couette_et_oreiller_16px.png);
}

.picto-equipement_chambre_couette_et_oreiller_64px {
    background-image: url(../assets/rooms/equipement_chambre_couette_et_oreiller_64px.png);
}

.picto-equipement_chambre_dressing {
    background-image: url(../assets/rooms/equipement_chambre_dressing.png);
}

.picto-equipement_chambre_dressing_16px {
    background-image: url(../assets/rooms/equipement_chambre_dressing_16px.png);
}

.picto-equipement_chambre_dressing_64px {
    background-image: url(../assets/rooms/equipement_chambre_dressing_64px.png);
}

.picto-equipement_chambre_etage {
    background-image: url(../assets/rooms/equipement_chambre_etage.png);
}

.picto-equipement_chambre_etage_16px {
    background-image: url(../assets/rooms/equipement_chambre_etage_16px.png);
}

.picto-equipement_chambre_etage_64px {
    background-image: url(../assets/rooms/equipement_chambre_etage_64px.png);
}

.picto-equipement_chambre_fauteuil {
    background-image: url(../assets/rooms/equipement_chambre_fauteuil.png);
}

.picto-equipement_chambre_fermeture {
    background-image: url(../assets/rooms/equipement_chambre_fermeture.png);
}

.picto-equipement_chambre_fermeture_16px {
    background-image: url(../assets/rooms/equipement_chambre_fermeture_16px.png);
}

.picto-equipement_chambre_fermeture_64px {
    background-image: url(../assets/rooms/equipement_chambre_fermeture_64px.png);
}

.picto-equipement_chambre_jardin {
    background-image: url(../assets/rooms/equipement_chambre_jardin.png);
}

.picto-equipement_chambre_jardin_16px {
    background-image: url(../assets/rooms/equipement_chambre_jardin_16px.png);
}

.picto-equipement_chambre_jardin_64px {
    background-image: url(../assets/rooms/equipement_chambre_jardin_64px.png);
}

.picto-equipement_chambre_lampes {
    background-image: url(../assets/rooms/equipement_chambre_lampes.png);
}

.picto-equipement_chambre_lampes_16px {
    background-image: url(../assets/rooms/equipement_chambre_lampes_16px.png);
}

.picto-equipement_chambre_lampes_64px {
    background-image: url(../assets/rooms/equipement_chambre_lampes_64px.png);
}

.picto-equipement_chambre_lit_double {
    background-image: url(../assets/rooms/equipement_chambre_lit_double.png);
}

.picto-equipement_chambre_lit_double_16px {
    background-image: url(../assets/rooms/equipement_chambre_lit_double_16px.png);
}

.picto-equipement_chambre_lit_double_64px {
    background-image: url(../assets/rooms/equipement_chambre_lit_double_64px.png);
}

.picto-equipement_chambre_mobilier_de_terrasse {
    background-image: url(../assets/rooms/equipement_chambre_mobilier_de_terrasse.png);
}

.picto-equipement_chambre_mobilier_de_terrasse_16px {
    background-image: url(../assets/rooms/equipement_chambre_mobilier_de_terrasse_16px.png);
}

.picto-equipement_chambre_mobilier_de_terrasse_64px {
    background-image: url(../assets/rooms/equipement_chambre_mobilier_de_terrasse_64px.png);
}

.picto-equipement_chambre_multiprise {
    background-image: url(../assets/rooms/equipement_chambre_multiprise.png);
}

.picto-equipement_chambre_multiprise_16px {
    background-image: url(../assets/rooms/equipement_chambre_multiprise_16px.png);
}

.picto-equipement_chambre_multiprise_64px {
    background-image: url(../assets/rooms/equipement_chambre_multiprise_64px.png);
}

.picto-equipement_chambre_rangements {
    background-image: url(../assets/rooms/equipement_chambre_rangements.png);
}

.picto-equipement_chambre_rangements_16px {
    background-image: url(../assets/rooms/equipement_chambre_rangements_16px.png);
}

.picto-equipement_chambre_rangements_64px {
    background-image: url(../assets/rooms/equipement_chambre_rangements_64px.png);
}

.picto-equipement_chambre_rideaux_ou_voilages {
    background-image: url(../assets/rooms/equipement_chambre_rideaux_ou_voilages.png);
}

.picto-equipement_chambre_rideaux_ou_voilages_16px {
    background-image: url(../assets/rooms/equipement_chambre_rideaux_ou_voilages_16px.png);
}

.picto-equipement_chambre_rideaux_ou_voilages_64px {
    background-image: url(../assets/rooms/equipement_chambre_rideaux_ou_voilages_64px.png);
}

.picto-equipement_chambre_sdb_privee {
    background-image: url(../assets/rooms/equipement_chambre_sdb_privee.png);
}

.picto-equipement_chambre_sdb_privee_16px {
    background-image: url(../assets/rooms/equipement_chambre_sdb_privee_16px.png);
}

.picto-equipement_chambre_sdb_privee_64px {
    background-image: url(../assets/rooms/equipement_chambre_sdb_privee_64px.png);
}

.picto-equipement_chambre_table_basse {
    background-image: url(../assets/rooms/equipement_chambre_table_basse.png);
}

.picto-equipement_chambre_table_basse_16px {
    background-image: url(../assets/rooms/equipement_chambre_table_basse_16px.png);
}

.picto-equipement_chambre_table_basse_64px {
    background-image: url(../assets/rooms/equipement_chambre_table_basse_64px.png);
}

.picto-equipement_chambre_table_chevet {
    background-image: url(../assets/rooms/equipement_chambre_table_chevet.png);
}

.picto-equipement_chambre_table_chevet_16px {
    background-image: url(../assets/rooms/equipement_chambre_table_chevet_16px.png);
}

.picto-equipement_chambre_table_chevet_64px {
    background-image: url(../assets/rooms/equipement_chambre_table_chevet_64px.png);
}

.picto-equipement_chambre_volets {
    background-image: url(../assets/rooms/equipement_chambre_volets.png);
}

.picto-equipement_chambre_volets_16px {
    background-image: url(../assets/rooms/equipement_chambre_volets_16px.png);
}

.picto-equipement_chambre_volets_64px {
    background-image: url(../assets/rooms/equipement_chambre_volets_64px.png);
}

.picto-equipement_chambre_wc_prives {
    background-image: url(../assets/rooms/equipement_chambre_wc_prives.png);
}

.picto-equipement_chambre_wc_prives_16px {
    background-image: url(../assets/rooms/equipement_chambre_wc_prives_16px.png);
}

.picto-equipement_chambre_wc_prives_64px {
    background-image: url(../assets/rooms/equipement_chambre_wc_prives_64px.png);
}

.picto-equipement_cuisine_assiettes {
    background-image: url(../assets/rooms/equipement_cuisine_assiettes.png);
}

.picto-equipement_cuisine_assiettes_16px {
    background-image: url(../assets/rooms/equipement_cuisine_assiettes_16px.png);
}

.picto-equipement_cuisine_assiettes_64px {
    background-image: url(../assets/rooms/equipement_cuisine_assiettes_64px.png);
}

.picto-equipement_cuisine_bols {
    background-image: url(../assets/rooms/equipement_cuisine_bols.png);
}

.picto-equipement_cuisine_bols_16px {
    background-image: url(../assets/rooms/equipement_cuisine_bols_16px.png);
}

.picto-equipement_cuisine_bols_64px {
    background-image: url(../assets/rooms/equipement_cuisine_bols_64px.png);
}

.picto-equipement_cuisine_bouilloire {
    background-image: url(../assets/rooms/equipement_cuisine_bouilloire.png);
}

.picto-equipement_cuisine_bouilloire_16px {
    background-image: url(../assets/rooms/equipement_cuisine_bouilloire_16px.png);
}

.picto-equipement_cuisine_bouilloire_64px {
    background-image: url(../assets/rooms/equipement_cuisine_bouilloire_64px.png);
}

.picto-equipement_cuisine_bouteilles_de_verre {
    background-image: url(../assets/rooms/equipement_cuisine_bouteilles_de_verre.png);
}

.picto-equipement_cuisine_bouteilles_de_verre_16px {
    background-image: url(../assets/rooms/equipement_cuisine_bouteilles_de_verre_16px.png);
}

.picto-equipement_cuisine_bouteilles_de_verre_64px {
    background-image: url(../assets/rooms/equipement_cuisine_bouteilles_de_verre_64px.png);
}

.picto-equipement_cuisine_casseroles {
    background-image: url(../assets/rooms/equipement_cuisine_casseroles.png);
}

.picto-equipement_cuisine_casseroles_16px {
    background-image: url(../assets/rooms/equipement_cuisine_casseroles_16px.png);
}

.picto-equipement_cuisine_casseroles_64px {
    background-image: url(../assets/rooms/equipement_cuisine_casseroles_64px.png);
}

.picto-equipement_cuisine_ciseaux {
    background-image: url(../assets/rooms/equipement_cuisine_ciseaux.png);
}

.picto-equipement_cuisine_couverts {
    background-image: url(../assets/rooms/equipement_cuisine_couverts.png);
}

.picto-equipement_cuisine_couverts_16px {
    background-image: url(../assets/rooms/equipement_cuisine_couverts_16px.png);
}

.picto-equipement_cuisine_couverts_64px {
    background-image: url(../assets/rooms/equipement_cuisine_couverts_64px.png);
}

.picto-equipement_cuisine_faitout {
    background-image: url(../assets/rooms/equipement_cuisine_faitout.png);
}

.picto-equipement_cuisine_faitout_16px {
    background-image: url(../assets/rooms/equipement_cuisine_faitout_16px.png);
}

.picto-equipement_cuisine_faitout_64px {
    background-image: url(../assets/rooms/equipement_cuisine_faitout_64px.png);
}

.picto-equipement_cuisine_four {
    background-image: url(../assets/rooms/equipement_cuisine_four.png);
}

.picto-equipement_cuisine_four_16px {
    background-image: url(../assets/rooms/equipement_cuisine_four_16px.png);
}

.picto-equipement_cuisine_four_64px {
    background-image: url(../assets/rooms/equipement_cuisine_four_64px.png);
}

.picto-equipement_cuisine_frigo {
    background-image: url(../assets/rooms/equipement_cuisine_frigo.png);
}

.picto-equipement_cuisine_frigo_16px {
    background-image: url(../assets/rooms/equipement_cuisine_frigo_16px.png);
}

.picto-equipement_cuisine_frigo_64px {
    background-image: url(../assets/rooms/equipement_cuisine_frigo_64px.png);
}

.picto-equipement_cuisine_lavevaisselle {
    background-image: url(../assets/rooms/equipement_cuisine_lavevaisselle.png);
}

.picto-equipement_cuisine_lavevaisselle_16px {
    background-image: url(../assets/rooms/equipement_cuisine_lavevaisselle_16px.png);
}

.picto-equipement_cuisine_lavevaisselle_64px {
    background-image: url(../assets/rooms/equipement_cuisine_lavevaisselle_64px.png);
}

.picto-equipement_cuisine_microondes {
    background-image: url(../assets/rooms/equipement_cuisine_microondes.png);
}

.picto-equipement_cuisine_microondes_16px {
    background-image: url(../assets/rooms/equipement_cuisine_microondes_16px.png);
}

.picto-equipement_cuisine_microondes_64px {
    background-image: url(../assets/rooms/equipement_cuisine_microondes_64px.png);
}

.picto-equipement_cuisine_mugs {
    background-image: url(../assets/rooms/equipement_cuisine_mugs.png);
}

.picto-equipement_cuisine_mugs_16px {
    background-image: url(../assets/rooms/equipement_cuisine_mugs_16px.png);
}

.picto-equipement_cuisine_mugs_64px {
    background-image: url(../assets/rooms/equipement_cuisine_mugs_64px.png);
}

.picto-equipement_cuisine_passoire {
    background-image: url(../assets/rooms/equipement_cuisine_passoire.png);
}

.picto-equipement_cuisine_planches_a_decouper {
    background-image: url(../assets/rooms/equipement_cuisine_planches_a_decouper.png);
}

.picto-equipement_cuisine_plaques {
    background-image: url(../assets/rooms/equipement_cuisine_plaques.png);
}

.picto-equipement_cuisine_poeles {
    background-image: url(../assets/rooms/equipement_cuisine_poeles.png);
}

.picto-equipement_cuisine_poeles_16px {
    background-image: url(../assets/rooms/equipement_cuisine_poeles_16px.png);
}

.picto-equipement_cuisine_poeles_64px {
    background-image: url(../assets/rooms/equipement_cuisine_poeles_64px.png);
}

.picto-equipement_cuisine_saladier {
    background-image: url(../assets/rooms/equipement_cuisine_saladier.png);
}

.picto-equipement_cuisine_tirebouchon {
    background-image: url(../assets/rooms/equipement_cuisine_tirebouchon.png);
}

.picto-equipement_cuisine_tirebouchon_16px {
    background-image: url(../assets/rooms/equipement_cuisine_tirebouchon_16px.png);
}

.picto-equipement_cuisine_tirebouchon_64px {
    background-image: url(../assets/rooms/equipement_cuisine_tirebouchon_64px.png);
}

.picto-equipement_cuisine_ustensiles {
    background-image: url(../assets/rooms/equipement_cuisine_ustensiles.png);
}

.picto-equipement_cuisine_ustensiles_16px {
    background-image: url(../assets/rooms/equipement_cuisine_ustensiles_16px.png);
}

.picto-equipement_cuisine_ustensiles_64px {
    background-image: url(../assets/rooms/equipement_cuisine_ustensiles_64px.png);
}

.picto-equipement_cuisine_verres {
    background-image: url(../assets/rooms/equipement_cuisine_verres.png);
}

.picto-equipement_cuisine_verres_16px {
    background-image: url(../assets/rooms/equipement_cuisine_verres_16px.png);
}

.picto-equipement_cuisine_verres_64px {
    background-image: url(../assets/rooms/equipement_cuisine_verres_64px.png);
}

.picto-equipement_general_aspirateur {
    background-image: url(../assets/rooms/equipement_general_aspirateur.png);
}

.picto-equipement_general_aspirateur_16px {
    background-image: url(../assets/rooms/equipement_general_aspirateur_16px.png);
}

.picto-equipement_general_aspirateur_64px {
    background-image: url(../assets/rooms/equipement_general_aspirateur_64px.png);
}

.picto-equipement_general_fer_a_repasser {
    background-image: url(../assets/rooms/equipement_general_fer_a_repasser.png);
}

.picto-equipement_general_fer_a_repasser_16px {
    background-image: url(../assets/rooms/equipement_general_fer_a_repasser_16px.png);
}

.picto-equipement_general_fer_a_repasser_64px {
    background-image: url(../assets/rooms/equipement_general_fer_a_repasser_64px.png);
}

.picto-equipement_general_balaibrosse {
    background-image: url(../assets/rooms/equipement_general_balaibrosse.png);
}

.picto-equipement_general_kit_menage {
    background-image: url(../assets/rooms/equipement_general_kit_menage.png);
}

.picto-equipement_general_lavelinge {
    background-image: url(../assets/rooms/equipement_general_lavelinge.png);
}

.picto-equipement_general_lavelinge_16px {
    background-image: url(../assets/rooms/equipement_general_lavelinge_16px.png);
}

.picto-equipement_general_lavelinge_64px {
    background-image: url(../assets/rooms/equipement_general_lavelinge_64px.png);
}

.picto-equipement_general_planche_a_repasser {
    background-image: url(../assets/rooms/equipement_general_planche_a_repasser.png);
}

.picto-equipement_general_planche_a_repasser_16px {
    background-image: url(../assets/rooms/equipement_general_planche_a_repasser_16px.png);
}

.picto-equipement_general_planche_a_repasser_64px {
    background-image: url(../assets/rooms/equipement_general_planche_a_repasser_64px.png);
}

.picto-equipement_general_tancarville {
    background-image: url(../assets/rooms/equipement_general_tancarville.png);
}

.picto-equipement_general_tancarville_16px {
    background-image: url(../assets/rooms/equipement_general_tancarville_16px.png);
}

.picto-equipement_general_tancarville_64px {
    background-image: url(../assets/rooms/equipement_general_tancarville_64px.png);
}

.picto-equipement_salle_de_bain_baignoire {
    background-image: url(../assets/rooms/equipement_salle_de_bain_baignoire.png);
}

.picto-equipement_salle_de_bain_douche {
    background-image: url(../assets/rooms/equipement_salle_de_bain_douche.png);
}

.picto-equipement_salle_de_bain_douche_16px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_douche_16px.png);
}

.picto-equipement_salle_de_bain_douche_64px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_douche_64px.png);
}

.picto-equipement_salle_de_bain_lavabo {
    background-image: url(../assets/rooms/equipement_salle_de_bain_lavabo.png);
}

.picto-equipement_salle_de_bain_miroir {
    background-image: url(../assets/rooms/equipement_salle_de_bain_miroir.png);
}

.picto-equipement_salle_de_bain_miroir_16px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_miroir_16px.png);
}

.picto-equipement_salle_de_bain_miroir_64px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_miroir_64px.png);
}

.picto-equipement_salle_de_bain_tapis_de_bain {
    background-image: url(../assets/rooms/equipement_salle_de_bain_tapis_de_bain.png);
}

.picto-equipement_salle_de_bain_tapis_de_bain_16px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_tapis_de_bain_16px.png);
}

.picto-equipement_salle_de_bain_tapis_de_bain_64px {
    background-image: url(../assets/rooms/equipement_salle_de_bain_tapis_de_bain_64px.png);
}

.picto-fleche_autres_offers {
    background-image: url(../assets/rooms/fleche_autres_offers.png);
}

.picto-fleche_autres_offers_16px {
    background-image: url(../assets/rooms/fleche_autres_offers_16px.png);
}

.picto-fleche_autres_offers_64px {
    background-image: url(../assets/rooms/fleche_autres_offers_64px.png);
}

.picto-fleche_autres_offres_gauche {
    background-image: url(../assets/rooms/fleche_autres_offres_gauche.png);
}

.picto-fleche_autres_offres_gauche_16px {
    background-image: url(../assets/rooms/fleche_autres_offres_gauche_16px.png);
}

.picto-fleche_autres_offres_gauche_64px {
    background-image: url(../assets/rooms/fleche_autres_offres_gauche_64px.png);
}

.picto-inclus_assurance {
    background-image: url(../assets/rooms/inclus_assurance.png);
}

.picto-inclus_assurance_16px {
    background-image: url(../assets/rooms/inclus_assurance_16px.png);
}

.picto-inclus_assurance_64px {
    background-image: url(../assets/rooms/inclus_assurance_64px.png);
}

.picto-inclus_eau {
    background-image: url(../assets/rooms/inclus_eau.png);
}

.picto-inclus_eau_16px {
    background-image: url(../assets/rooms/inclus_eau_16px.png);
}

.picto-inclus_eau_64px {
    background-image: url(../assets/rooms/inclus_eau_64px.png);
}

.picto-inclus_electricite {
    background-image: url(../assets/rooms/inclus_electricite.png);
}

.picto-inclus_electricite_16px {
    background-image: url(../assets/rooms/inclus_electricite_16px.png);
}

.picto-inclus_electricite_64px {
    background-image: url(../assets/rooms/inclus_electricite_64px.png);
}

.picto-inclus_gaz {
    background-image: url(../assets/rooms/inclus_gaz.png);
}

.picto-inclus_gaz_16px {
    background-image: url(../assets/rooms/inclus_gaz_16px.png);
}

.picto-inclus_gaz_64px {
    background-image: url(../assets/rooms/inclus_gaz_64px.png);
}

.picto-inclus_maintenance_technique {
    background-image: url(../assets/rooms/inclus_maintenance_technique.png);
}

.picto-inclus_maintenance_technique_16px {
    background-image: url(../assets/rooms/inclus_maintenance_technique_16px.png);
}

.picto-inclus_maintenance_technique_64px {
    background-image: url(../assets/rooms/inclus_maintenance_technique_64px.png);
}

.picto-inclus_taxe_ordures {
    background-image: url(../assets/rooms/inclus_taxe_ordures.png);
}

.picto-inclus_taxe_ordures_16px {
    background-image: url(../assets/rooms/inclus_taxe_ordures_16px.png);
}

.picto-inclus_taxe_ordures_64px {
    background-image: url(../assets/rooms/inclus_taxe_ordures_64px.png);
}

.picto-inclus_wifi {
    background-image: url(../assets/rooms/inclus_wifi.png);
}

.picto-inclus_wifi_16px {
    background-image: url(../assets/rooms/inclus_wifi_16px.png);
}

.picto-inclus_wifi_64px {
    background-image: url(../assets/rooms/inclus_wifi_64px.png);
}

.picto-photocamera {
    background-image: url(../assets/rooms/photocamera.png);
}

.picto-photocamera_16px {
    background-image: url(../assets/rooms/photocamera_16px.png);
}

.picto-photocamera_64px {
    background-image: url(../assets/rooms/photocamera_64px.png);
}

.picto-photos {
    background-image: url(../assets/rooms/photos.png);
}

.picto-photos_16px {
    background-image: url(../assets/rooms/photos_16px.png);
}

.picto-photos_64px {
    background-image: url(../assets/rooms/photos_64px.png);
}

.picto-picto_adresse {
    background-image: url(../assets/rooms/picto_adresse.png);
}

.picto-picto_adresse_16px {
    background-image: url(../assets/rooms/picto_adresse_16px.png);
}

.picto-picto_adresse_64px {
    background-image: url(../assets/rooms/picto_adresse_64px.png);
}

.picto-picto_contact {
    background-image: url(../assets/rooms/picto_contact.png);
}

.picto-picto_contact_16px {
    background-image: url(../assets/rooms/picto_contact_16px.png);
}

.picto-picto_contact_64px {
    background-image: url(../assets/rooms/picto_contact_64px.png);
}

.picto-picto_disponibilite_attention {
    background-image: url(../assets/rooms/picto_disponibilite_attention.png);
}

.picto-picto_disponibilite_attention_16px {
    background-image: url(../assets/rooms/picto_disponibilite_attention_16px.png);
}

.picto-picto_disponibilite_attention_64px {
    background-image: url(../assets/rooms/picto_disponibilite_attention_64px.png);
}

.picto-picto_disponibilite_ok {
    background-image: url(../assets/rooms/picto_disponibilite_ok.png);
}

.picto-picto_disponibilite_ok_16px {
    background-image: url(../assets/rooms/picto_disponibilite_ok_16px.png);
}

.picto-picto_disponibilite_ok_64px {
    background-image: url(../assets/rooms/picto_disponibilite_ok_64px.png);
}

.picto-picto_disponibilite_indisponible {
    background-image: url(../assets/rooms/picto_disponibilite_indisponible.png);
}

.picto-picto_disponibilite_indisponible_16px {
    background-image: url(../assets/rooms/picto_disponibilite_indisponible_16px.png);
}

.picto-picto_disponibilite_indisponible_64px {
    background-image: url(../assets/rooms/picto_disponibilite_indisponible_64px.png);
}

.picto-picto_fleche_guide_logement {
    background-image: url(../assets/rooms/picto_fleche_guide_logement.png);
}

.picto-picto_fleche_guide_logement_16px {
    background-image: url(../assets/rooms/picto_fleche_guide_logement_16px.png);
}

.picto-picto_fleche_guide_logement_64px {
    background-image: url(../assets/rooms/picto_fleche_guide_logement_64px.png);
}

.picto-picto_guide_logement {
    background-image: url(../assets/rooms/picto_guide_logement.png);
}

.picto-picto_guide_logement_16px {
    background-image: url(../assets/rooms/picto_guide_logement_16px.png);
}

.picto-picto_guide_logement_64px {
    background-image: url(../assets/rooms/picto_guide_logement_64px.png);
}

.picto-picto_metro {
    background-image: url(../assets/rooms/picto_metro.png);
}

.picto-picto_metro_16px {
    background-image: url(../assets/rooms/picto_metro_16px.png);
}

.picto-picto_metro_64px {
    background-image: url(../assets/rooms/picto_metro_64px.png);
}

.picto-picto_voir_plus {
    background-image: url(../assets/rooms/picto_voir_plus.png);
}

.picto-picto_voir_plus_16px {
    background-image: url(../assets/rooms/picto_voir_plus_16px.png);
}

.picto-picto_voir_plus_64px {
    background-image: url(../assets/rooms/picto_voir_plus_64px.png);
}

.picto-questionmark {
    background-image: url(../assets/rooms/questionmark.png);
}

.picto-questionmark_16px {
    background-image: url(../assets/rooms/questionmark_16px.png);
}

.picto-questionmark_64px {
    background-image: url(../assets/rooms/questionmark_64px.png);
}

.picto-r {
    background-image: url(../assets/rooms/r.png);
}

.picto-r_16px {
    background-image: url(../assets/rooms/r_16px.png);
}

.picto-r_64px {
    background-image: url(../assets/rooms/r_64px.png);
}

.picto-singlebed {
    background-image: url(../assets/rooms/singlebed.png);
}

.picto-singlebed_16px {
    background-image: url(../assets/rooms/singlebed_16px.png);
}

.picto-singlebed_64px {
    background-image: url(../assets/rooms/singlebed_64px.png);
}

.picto-smartphonecall {
    background-image: url(../assets/rooms/smartphonecall.png);
}

.picto-smartphonecall_16px {
    background-image: url(../assets/rooms/smartphonecall_16px.png);
}

.picto-smartphonecall_64px {
    background-image: url(../assets/rooms/smartphonecall_64px.png);
}
