.bg-bouton_visite {
  width: 256px; height: 210px;
  background: url('../assets/rooms/css_sprites.png') -10px -286px;
}


.bg-colocataire_disponible {
  width: 250px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -10px -10px;
}


.bg-colocataire_femme_1 {
  width: 168px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -10px -792px;
}


.bg-colocataire_femme_2 {
  width: 186px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -216px -516px;
}


.bg-colocataire_femme_3 {
  width: 240px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -280px -10px;
}


.bg-colocataire_femme_4 {
  width: 186px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -10px -516px;
}


.bg-colocataire_femme_5 {
  width: 240px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -540px -10px;
}


.bg-colocataire_homme_1 {
  width: 178px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -800px -10px;
}


.bg-colocataire_homme_2 {
  width: 180px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -422px -516px;
}


.bg-colocataire_homme_3 {
  width: 176px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -998px -10px;
}


.bg-colocataire_homme_4 {
  width: 178px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -800px -286px;
}


.bg-colocataire_homme_5 {
  width: 174px; height: 256px;
  background: url('../assets/rooms/css_sprites.png') -998px -286px;
}


.bg-description_surface {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -706px -286px;
}


.bg-elevator {
  width: 60px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -452px -370px;
}


.bg-equipement_chambre_balcon {
  width: 64px; height: 38px;
  background: url('../assets/rooms/css_sprites.png') -370px -454px;
}


.bg-equipement_chambre_bibliotheque {
  width: 48px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -844px -876px;
}


.bg-equipement_chambre_bureau {
  width: 64px; height: 42px;
  background: url('../assets/rooms/css_sprites.png') -800px -730px;
}


.bg-equipement_chambre_canape_ou_canape_lit {
  width: 64px; height: 40px;
  background: url('../assets/rooms/css_sprites.png') -286px -454px;
}


.bg-equipement_chambre_cintres {
  width: 64px; height: 40px;
  background: url('../assets/rooms/css_sprites.png') -884px -730px;
}


.bg-equipement_chambre_couette_et_oreiller {
  width: 64px; height: 56px;
  background: url('../assets/rooms/css_sprites.png') -706px -684px;
}


.bg-equipement_chambre_dressing {
  width: 38px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -10px -1068px;
}


.bg-equipement_chambre_etage {
  width: 50px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -774px -876px;
}


.bg-equipement_chambre_fermeture {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -632px -876px;
}


.bg-equipement_chambre_jardin {
  width: 64px; height: 52px;
  background: url('../assets/rooms/css_sprites.png') -526px -792px;
}


.bg-equipement_chambre_lampes {
  width: 58px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -700px -600px;
}


.bg-equipement_chambre_lit_double {
  width: 64px; height: 48px;
  background: url('../assets/rooms/css_sprites.png') -778px -792px;
}


.bg-equipement_chambre_mobilier_de_terrasse {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -538px -286px;
}


.bg-equipement_chambre_multiprise {
  width: 58px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -622px -600px;
}


.bg-equipement_chambre_rangements {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -488px -876px;
}


.bg-equipement_chambre_rideaux_ou_voilages {
  width: 64px; height: 54px;
  background: url('../assets/rooms/css_sprites.png') -274px -792px;
}


.bg-equipement_chambre_sdb_privee {
  width: 64px; height: 60px;
  background: url('../assets/rooms/css_sprites.png') -616px -370px;
}


.bg-equipement_chambre_table_basse {
  width: 64px; height: 60px;
  background: url('../assets/rooms/css_sprites.png') -700px -370px;
}


.bg-equipement_chambre_table_chevet {
  width: 48px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -980px -876px;
}


.bg-equipement_chambre_volets {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -998px -646px;
}


.bg-equipement_chambre_wc_prives {
  width: 60px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -622px -516px;
}


.bg-equipement_cuisine_assiettes {
  width: 64px; height: 44px;
  background: url('../assets/rooms/css_sprites.png') -1030px -792px;
}


.bg-equipement_cuisine_bols {
  width: 64px; height: 42px;
  background: url('../assets/rooms/css_sprites.png') -998px -730px;
}


.bg-equipement_cuisine_bouilloire {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -344px -876px;
}


.bg-equipement_cuisine_bouteilles_de_verre {
  width: 20px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -1194px -10px;
}


.bg-equipement_cuisine_casseroles {
  width: 64px; height: 36px;
  background: url('../assets/rooms/css_sprites.png') -538px -454px;
}


.bg-equipement_cuisine_couverts {
  width: 48px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -1048px -876px;
}


.bg-equipement_cuisine_faitout {
  width: 64px; height: 48px;
  background: url('../assets/rooms/css_sprites.png') -694px -792px;
}


.bg-equipement_cuisine_four {
  width: 60px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -702px -516px;
}


.bg-equipement_cuisine_frigo {
  width: 38px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -126px -1068px;
}


.bg-equipement_cuisine_lave_vaisselle {
  width: 62px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -370px -370px;
}


.bg-equipement_cuisine_micro_ondes {
  width: 64px; height: 44px;
  background: url('../assets/rooms/css_sprites.png') -348px -960px;
}


.bg-equipement_cuisine_mugs {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -622px -286px;
}


.bg-equipement_cuisine_poeles {
  width: 64px; height: 44px;
  background: url('../assets/rooms/css_sprites.png') -264px -960px;
}


.bg-equipement_cuisine_tire_bouchon {
  width: 54px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -198px -876px;
}


.bg-equipement_cuisine_ustensiles {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -454px -286px;
}


.bg-equipement_cuisine_verres {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -416px -876px;
}


.bg-equipement_general_aspirateur {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -370px -286px;
}


.bg-equipement_general_fer_a_repasser {
  width: 64px; height: 38px;
  background: url('../assets/rooms/css_sprites.png') -454px -454px;
}


.bg-equipement_general_kit_menage {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -286px -286px;
}


.bg-equipement_general_lave_linge {
  width: 50px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -704px -876px;
}


.bg-equipement_general_planche_a_repasser {
  width: 64px; height: 58px;
  background: url('../assets/rooms/css_sprites.png') -622px -684px;
}


.bg-equipement_general_tancarville {
  width: 64px; height: 42px;
  background: url('../assets/rooms/css_sprites.png') -1082px -730px;
}


.bg-equipement_salle_de_bain_douche {
  width: 38px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -184px -1068px;
}


.bg-equipement_salle_de_bain_miroir {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -560px -876px;
}


.bg-equipement_salle_de_bain_tapis_de_bain {
  width: 64px; height: 46px;
  background: url('../assets/rooms/css_sprites.png') -862px -792px;
}


.bg-fleche_autres_offers {
  width: 32px; height: 58px;
  background: url('../assets/rooms/css_sprites.png') -354px -1068px;
}


.bg-fleche_autres_offres_gauche {
  width: 32px; height: 58px;
  background: url('../assets/rooms/css_sprites.png') -406px -1068px;
}


.bg-inclus_assurance {
  width: 56px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -198px -792px;
}


.bg-inclus_eau {
  width: 48px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -1116px -876px;
}


.bg-inclus_electricite {
  width: 34px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -290px -1068px;
}


.bg-inclus_gaz {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -884px -646px;
}


.bg-inclus_maintenance_technique {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -800px -646px;
}


.bg-inclus_taxe_ordures {
  width: 48px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -912px -876px;
}


.bg-inclus_wifi {
  width: 64px; height: 46px;
  background: url('../assets/rooms/css_sprites.png') -946px -792px;
}


.bg-photo_camera {
  width: 64px; height: 52px;
  background: url('../assets/rooms/css_sprites.png') -442px -792px;
}


.bg-photos {
  width: 64px; height: 52px;
  background: url('../assets/rooms/css_sprites.png') -358px -792px;
}


.bg-picto_adresse {
  width: 46px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -198px -960px;
}


.bg-picto_contact {
  width: 38px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -68px -1068px;
}


.bg-picto_disponibilite_attention {
  width: 64px; height: 60px;
  background: url('../assets/rooms/css_sprites.png') -532px -370px;
}


.bg-picto_disponibilite_indisponible {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -884px -562px;
}


.bg-picto_disponibilite_ok {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -800px -562px;
}


.bg-picto_fleche_guide_logement {
  width: 64px; height: 32px;
  background: url('../assets/rooms/css_sprites.png') -622px -454px;
}


.bg-picto_guide_logement {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -1082px -646px;
}


.bg-picto_metro {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -286px -370px;
}


.bg-picto_voir_plus {
  width: 52px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -272px -876px;
}


.bg-question_mark {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -1082px -562px;
}


.bg-r {
  width: 64px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -998px -562px;
}


.bg-single_bed {
  width: 64px; height: 52px;
  background: url('../assets/rooms/css_sprites.png') -610px -792px;
}


.bg-smartphone_call {
  width: 38px; height: 64px;
  background: url('../assets/rooms/css_sprites.png') -242px -1068px;
}
