.carousel {
  position: relative;
  overflow: hidden;
}

.carousel > * {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}


/* BEGIN .carousel.slide ------------------------ */
.carousel.slide  > * {
  z-index: -1;
}

/* if transitions are set on all children, weird things happen when switching
 * away and then back to a tab displaying the element
 */
.carousel.slide > [class*="carousel-"] {
  transition: left 500ms ease-in-out;
  z-index: 0;
}

.carousel.slide .carousel-curr {
  left: 0;
}
.carousel.slide .carousel-next {
  left: 100%;
}
.carousel.slide .carousel-prev {
  left: -100%;
}
/* END .carousel.slide ------------------------ */

/* BEGIN .carousel.fade ------------------------ */
.carousel.fade  > * {
  opacity: 0;
}

/* if transitions are set on all children, weird things happen when switching
 * away and then back to a tab displaying the element
 */
.carousel.fade > .carousel-curr,
.carousel.fade > .carousel-prev {
  transition: opacity 500ms ease-in-out;
}

.carousel.fade .carousel-curr {
  opacity: 1;
}
/* END .carousel.fade ------------------------ */
