.carousel {
  height: calc(100vh - 80px);
}

.image {

}

.searchEngineContainer {
  position: absolute;
  height: calc(100vh - 80px);
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
