.message {
  background-color: lightgrey;
  padding: 10px;
}


.message h3, .message p {
  color: white;
  font-size: 13px;
  margin-bottom: 0;
}
.message h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.image {
  height: 200px;
  background-size: cover;
}

.roomsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.roomSplit {
  min-width: 47%;
  max-width: 49%;
  margin-top: 0px;
  width: auto;
  @media screen and (max-width: 1100px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.closeButton {
  float: right;
  color: white;
  cursor: pointer;
  margin-top: -7px;
}
