.message {
  background-color: rgb(195, 195, 195);
  padding: 10px;
}

.message h3 {
  font-size: 15px;
}
.message h3, .message p {
  color: white;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 13px;
}

.image {
  height: 200px;
  background-size: cover;
}

.roomsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
}

.roomSplit {
  min-width: 47%;
  max-width: 49%;
  margin-top: 0px;
  width: auto;
  @media screen and (max-width: 1100px) {
    min-width: 100%;
    max-width: 100%;
  }
}

.closeButton {
  float: right;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding: 5px;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
  margin-right: 4px;
  margin-top: -7px;
}
