
/* = GENERAL = */

.roomPage {

}

.fixedHeader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  padding: 10px 5%;
  z-index: 201;
  transition: opacity ease-out 250ms;
}

.fixedHeaderHidden {
  opacity: 0;
  pointer-events: none;
}

.fixedHeaderShown {
  opacity: 1;
  pointer-events: all;
}

.allPicsBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;

}

@media screen and (min-width: 1025px) {
  .fixedHeader {
    display: none;
  }

  .allPicsBtn {
    display: none;
  }
}

.roomPage section {
  margin-bottom: 2em;
}

.slideshowImg {
  /*
    without this !important, ".carousel > *" takes precedence in production
    and results in bg-size being cover instead of contain. No idea why. This
    is maddening.
  */
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.coverPicture {
  height: calc(100vh - var(--header-height) * 2);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
  position: relative;
}

.coverPictureRoomName {
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  line-height: 40px;
  color: white;
  font-family: var(--headings-font-family);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 20px;

}

@media screen and (min-width: 1025px) {
  .coverPictureRoomName {
    display: none;
  }
}

.coverPictureInner {
  position: relative;
}

.headers {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.leftHeader, .rightHeader {
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  line-height: 40px;
  color: white;
  font-family: var(--headings-font-family);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 20px;
}

@media screen and (max-width: 1024px) {
  .leftHeader {
    display: none;
  }
}

.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightHeader [class~="material-icons"] {
  font-size: 32px;
  vertical-align: -8px;
}

.mainColumns {
  display: flex;
  justify-content: space-between;
}

.mainColumns > div:first-child {
  flex: 0 0 66%;
}

.mainColumns > div:last-child {
  flex: 0 0 32%;
}

@media screen and (max-width: 1024px) {
  .mainColumns {
    flex-direction: column-reverse;
  }
}

.roomContent {
  position: relative;
  margin-top: -60px;
  font-size: 12px;
  font-family: var(--preferred-font);
}


@media screen and (max-width: 1024px) {
  .roomContent {
    margin-top: 20px;
  }
}


.heading {
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.2em;
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 15px;
}


.subtitle {
  font-size: 1.15em;
  position: relative;
  color: var(--color-greyish);
  margin-top: 25px;
  margin-bottom: 15px;
}


.subtitle span {
  background: var(--color-background);
  color: black;
  font-weight: bold;
  position: relative;
  z-index: 40;
  padding-right: 15px;
}


.subtitle::after {
  content: ' ';
  position: absolute;
  top: calc(50% - 1px);
  left: 0px;
  right: 0;
  height: 1px;
  background: black;
}

/* = NAVIGATION = */

.roomAnchor {
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}

.fixedLinks ul {
  position: fixed;
  background: var(--color-primary);
  color: white;
  top: -20px;
  z-index: 199;
  border: 0!important;
  width: 100% !important;
  padding: 10px 0 10px 20px!important;
}

.fixedLinks ul li a {
  color: white !important;
  font-size: 0.9rem !important;
}

.links ul {
  display: flex;
  margin-top: 20px;
  padding: 0 0 5px 0;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}

.links li {
  margin-left: 20px;
  margin-right: 10px;
  padding: 0;
}

.links ul li:first-child {
  margin-left: 0;
  list-style-type: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
}

/* = BOOKING INFO = */

.sameRoomCount {
  color: red;
  border: 1px solid red;
  font-size: 12px;
  padding: 10px 20px;
}

.bookingInfo {
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  box-sizing: border-box;
  padding: 25px 20px 30px 20px;
  margin-bottom: 10px;
}

.cafHelp {
  color: limegreen;
}

.priceLine {
  font-size: var(--text-small);
  margin-top: 20px;
}

.cafNotice {
  font-size: var(--text-notice);
  color: var(--color-greyish);
  margin-top: 10px;
}

.priceLineDesc {
  margin-top: 5px;
  font-size: var(--text-notice);
  color: var(--color-greyish);
}

.bookingFeatures {
  margin-left: 0;
  padding-left: 0;
}

.bookingFeatures li {
  list-style-type: none;
  display: flex;
  align-items: center;
  max-height: 35px;
  margin-bottom: 10px;
}

.bookingFeatures i {
  margin-right: 10px;
}

.bookThisRoom {
}

@media screen and (max-width: 1024px) {
  .bookThisRoom {
    display: none;
  }
}

.bookThisRoom a {
  color: white;
}

.btnWhite {
  border: 1px solid #1c2b4a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  width: 100%;
}

/* = PICTURES = */

.pictures {
  height: 100px;
}

.pictures > div {
  text-indent: -9999px;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
}

.picturesCont {
  background-color: var(--color-primary);
  background-size: 48px !important;
  background-position: center 10px;
  background-repeat: no-repeat;
  text-indent: 0 !important;
  color: white;
  font-weight: bold;
  position: relative;
  padding-top: 55px;
  text-align: center;
}

.picturesCont::after {
  content: '...';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .pictures {
    display: none;
  }
}

.carouselOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
}

.carouselOverlay [class~="carousel-wrapper"] {
  width: 100%;
  max-width: 1240px;
  height: calc(100vh - 40px);
}

.carouselOverlay [class~="carousel-arrows"],
.carouselClose {
  font-size: 32px;
  color: white;
  text-shadow: 2px 1px 2px #888;
}

.carouselClose {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 10;
}


/* = DESCRIPTION = */

.descriptionItems, .featuresColumn ul {
  margin-left: 0;
  padding-left: 0;
}

.descriptionItems li, .featuresColumn li {
  list-style-type: none;
  display: flex;
  max-height: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.descriptionItems li i, .featuresColumn li i {
  margin-right: 10px;
}

/* = FEATURES = */

.featuresContent {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.featuresColumn {
  flex: 1 2 200px;
  margin-bottom: 5px !important;
}

.featuresRoom {
  font-weight: bold;
  padding-bottom: 10px;
}

.featuresColumnLarge {
  flex: 2 0 400px;
}

.featuresColumn:not(:last-child) {
  border-right: 1px solid black;
}

.featuresColumn:not(:first-child) {
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  .featuresContent {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .featuresColumn {
    flex: 1 2 100%;
    margin-left: 0 !important;
    border-right: 0 !important;
  }

  .featuresColumn ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.2em;
  }

  .featuresColumn ul li {
    margin-right: 20px;
  }

  .featuresColumnLarge {
    flex: 2 0 100%;
  }
}


/* = FLOOR PLAN = */

.planNotice {
  color: var(--color-greyish);
  font-size: var(--text-small);
}

/* = HOUSEMATES = */


.housemates {
  display: flex;
  flex-wrap: wrap;
}

.housemate {
  border: 1px solid black;
  border-radius: 5px;
  width: 9em;
  text-align: center;
  padding: 5px;
  margin-right: .5em;
}

.housemateTitle {
  font-weight: bold;
}

.housemateIcon, .availableRoom {
  height: 96px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 5px;
  margin-bottom: 5px;
}

.housemateBookBtn {
  background-color: #1c2b4a !important;
  color: white !important;
  border-radius: 5px;
  font-size: 1em;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

@media screen and (max-width: 1024px) {
  .housemates {
    justify-content: space-between;
  }

  .housemate {
    width: 49%;
    margin-right: 0;
    margin-top: 5px;
  }

  .housemateBookBtn {
    min-width: 0;
  }
}


/* = DISTRICT = */

.districtContent > div:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 20px;
}

.transport-subway {
  background: #dc0021;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.transport-tramway {
  background: #333f50;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.transport-bus {
  background: #1f4e78;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  height: 25px;
  padding: 0 3px;
  text-align: center;
  line-height: 25px;
}

.nearbySchools {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .districtContent > div:not(:first-child) {
    border: 0;
    padding-left: 0;
    margin-top: 20px;
  }
}

.visitCont {
  background-color: var(--color-primary);
  text-indent: 0 !important;
  color: white;
  font-weight: bold;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitContAlt {
  background-color: var(--color-primary);
  color: white;
}

.visitCont a, .visitCont a:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

/* = BookingInfo = */

.buttonsDivide {
  display: flex;
  justify-content: space-between;
}

.buttonsDivide > div {
  flex: 0 0 48%;
}
