

.coverPicture {
  height: calc(100vh - var(--header-height) * 2);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.coverPictureInner {
  position: relative;
}

.headers {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  /*margin-left: 5px;
  margin-right: 5px;*/
}

.leftHeader, .rightHeader {
  background: rgba(0, 0, 0, 0.6);
  height: 60px;
  line-height: 40px;
  color: white;
  font-family: var(--headings-font-family);
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
}

.rightHeader {
  text-align: center;
}

.bookingInfo {
  border: 1px solid black;
  border-width: 0 1px 1px 1px;
  box-sizing: border-box;
  padding: 25px 20px 30px 20px;
  margin-bottom: 10px;
}

.roomContent {
  position: relative;
  margin-top: -60px;
  font-size: 12px;
  font-family: "Open Sans";
}

.cafHelp {
  color: green;
}

.links ul {
  display: flex;
  margin-top: 20px;
  padding: 0 0 5px;
  border-bottom: 1px solid black;
}

.links li {
  margin-left: 20px;
  margin-right: 10px;
  padding: 0;
}

.links ul li:first-child {
  margin-left: 0;
  list-style-type: none;
}

.links ul li a {
  text-decoration: none;
  color: black;
}

.pictures {
  height: 100px;
}

.pictures > div {
  text-indent: -9999px;
  overflow: hidden;
  background-size: cover;
  cursor: pointer;
}

.heading {
  background-color: var(--color-primary);
  color: white;
  font-size: 19px;
  height: 25px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 15px;
}


.subtitle {
  font-size: 1.1rem;
  position: relative;
  color: rgb(136, 136, 136);
  margin-top: 25px;
  margin-bottom: 15px;
}

.subtitle span {
  background: var(--color-background);
  position: relative;
  z-index: 10000;
  padding-right: 15px;
}


.subtitle::after {
  content: ' ';
  position: absolute;
  top: calc(50% - 1px);
  left: 0px;
  right: 0;
  height: 1px;
  background: black;
}

.featuresContent {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.featuresColumn {
  flex: 1 0 200px;
}

.featuresColumnLarge {
  flex: 2 0 400px;
}


.featuresColumn:not(:last-child) {
  border-right: 1px solid black;
}

.featuresColumn:not(:first-child) {
  margin-left: 20px;
}

.planNotice {
  color: rgb(136, 136, 136);
  text-align: center;
  margin-top: 30px;
  font-size: 0.7rem;
}

.districtContent > div:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 20px;
}

.service {
  margin-top: 20px;
}

.service img {
  float: left;
  height: 75px;
  margin-right: 10px;
}

.service h5 {
  padding-top: 2px;
  font-size: 1.1rem;
  font-weight: bold;
}

.service p {
  font-size: 0.8rem;
}

.services {
  margin: 20px;
}

.questions {
  background-color: rgb(58, 88, 148);
  color: white;
  padding: 1px 0 5px 0;
}

.guide {
  background-color: rgb(243, 244, 245);
  padding: 10px 50% 20px 20%;
}


.priceLine {
  font-size: 14px;
  margin-top: 20px;
}

.cafNotice {
  font-size: 11px;
  color: #888;
  margin-top: 10px;
}

.priceLineDesc {
  margin-top: 5px;
  font-size: 11px;
  color: #888;
}

.bookingFeatures {
  margin-left: 0;
  padding-left: 0;
}

.bookingFeatures li {
  list-style-type: none;
  display: flex;
  align-items: center;
  max-height: 35px;
  margin-bottom: 10px;
}

.bookingFeatures i {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 10px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bookThisRoom {
  background-color: #1c2b4a !important;
  color: white !important;
  border-radius: 5px;
  font-size: 18px;
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.bookThisRoom a {
  color: white;
}

.btnWhite {
  border: 1px solid #1c2b4a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 45px;
}

.btnWhite i {
  flex: 0 0 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.descriptionItems, .featuresColumn ul {
  margin-left: 0;
  padding-left: 0;
}

.descriptionItems li, .featuresColumn li {
  list-style-type: none;
  display: flex;
  max-height: 30px;
  align-items: center;
  margin-bottom: 10px;
}

.descriptionItems li i, .featuresColumn li i {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 15px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.questionsButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.questionsButton {
  background: #1c2b4a;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadGuideBtn {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questions h2 {
  margin-bottom: 10px;
}

.questionsInfos {
  padding-left: 30px;
}

.questionsSubtitle {
  margin-bottom: 30px;
}

.questionsPhone {
  font-size: 18px;
  font-weight: bold;
}

.questionsCoords {
  font-size: 12px;
}


.sameRoomCount {
  color: red;
  border: 1px solid red;
  font-size: 12px;
  padding: 10px 20px;
}

.transport-subway {
  background: #dc0021;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.transport-tramway {
  background: #333f50;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}

.transport-bus {
  background: #1f4e78;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  height: 25px;
  padding: 0 3px;
  text-align: center;
  line-height: 25px;
}

.nearbySchools {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.housemate {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  padding: 5px;
}

.housemateTitle {
  font-weight: bold;
}

.housemateIcon, .availableRoom {
  height: 128px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 5px;
  margin-bottom: 5px;
}

.picturesCont {
  background-color: grey;
  background-size: 48px !important;
  background-position: center 10px;
  background-repeat: no-repeat;
  text-indent: 0 !important;
  color: white;
  font-weight: bold;
  position: relative;
  padding-top: 55px;
  text-align: center;
}

.picturesCont::after {
  content: '...';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
}

.carouselOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomAnchor {
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}
