.testimonies {
  background: rgb(225, 225, 225);
  margin-bottom: 0;
}

.testimony {
  margin-bottom: 70px;
  width: 85%;
  clear: both;

  @media screen and (max-width:990px) {
    width: 100%;
  }
}

.testimony:nth-child(even) {
  float: right;
}

.testimony:nth-child(even) img {
  float: right;

  @media screen and (max-width:990px) {
    float:none;
  }
}

.testimony:nth-child(even) .notes {
  float: right;
  margin-left: 20px;
  @media screen and (max-width:990px) {
    float:none;
    margin-left:0;
  }
}

.testimony:nth-child(even) {
  text-align: right;
  @media screen and (max-width:990px) {
    text-align: left;
  }
}

.testimony img {
  float: left;
  width: 160px;
  border-radius: 50%;
  margin: 0 20px;
  @media screen and (max-width:990px) {
    float:none;
    margin: 0;
  }
}

.testimony h3 {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 100%;
}

.testimony h3 b {
  color: #fac917;
}
